@import "./config.less";

.header{
  height: @header-footer-height;
  background: @header-footer-bg;
}

.footer{
  height: @header-footer-height;
  background: @header-footer-bg;
}

.main-content{
   .home-component{
     height: 100%;
     .container{
       border-left: 1px solid @header-footer-bg;
       border-right: 1px solid @header-footer-bg;
       height: 100%;
     }
   }
}