.header {
  height: 100px;
  background: #eee;
}
.header ul {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.header ul li {
  border: 1px solid #ccc;
  margin-right: 2px;
  padding: 0 5px;
}
.footer {
  height: 100px;
  background: #eee;
}
.main-content > .component {
  height: 100%;
}
.main-content > .component .container {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  height: 100%;
}
